@media screen and (max-width: 768px)
{
    header {
        width: 100%;
        padding: 0;
        
    }

    nav {
        display: flex;
        
    }


   
    #search{
        padding-left: 0;
    }
    main{
        width: 100%;
    }
    .hotel-card {
        margin: 0;
        flex-direction: column;
    }
    #hotel {
        width: 98%;
    }
    .contour-card {
        width: 90%;
    }
    .filter {
        width: 100%;
        flex-wrap: wrap;
    }
    .single-hotel {
        width: 100%;
    }

    #popular {
        width: 100%;
        margin-top: 50px;
        background-color: white
    }
    #article-news{
        width: 100%;
    }
    .news-city{
        
        margin: 0;
        width: 100%;
        flex-direction: column;
    }
    .news-group{
        margin: auto;
        
        width: 95%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .card-news{
        height: 150px;
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
}