footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    background-color: #F2F2F2;
margin: 0;
}

.footer-inside  {
    display: flex;
   flex-direction: column;
}

footer a {
    margin-top: 10px;
    text-decoration: none;
}

