@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
margin: auto;



}

main {
  width: 90%;
  margin: auto;
}

#in-case {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



h1 {
  font-weight: bold;
}

h2 {
  font-size: medium;
}

a {
  color: black;
    text-decoration: none;
}
