header {
    padding: 35px;
    display: flex;
    justify-content: space-between;
    
}
#logo-header {
    width: 75px;
    margin-left: 15px;
}
header nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 25px;
}
nav a {
    margin-left: 25px;
    
}

a {
    font-weight: 500;
}

.blue-select {
    color : #0065FC;
    border-top: 3px #0065FC solid ;
    padding-top: 41px;
    padding-left: 30px;
    padding-right: 30px;
}
