

.news-city {
    
    display: flex;
   
    margin: 20px;
}

.news-group {
    display: flex;
    flex-wrap: wrap;
    width: 575px;
   
}

.card-news {
    margin: 20px;
    width: 175px;
    padding: 4px;
}

.card-news img {
    max-width : 100%;
    border-radius: 20px;
}

.newsport  {
    
    background-image: url("../images/activites/3_medium/3medium-port.jpg");
    background-size: 240px;
}
.newsfort {
    
    background-image: url("../images/activites/4_small/4small-fort.jpg");
    background-size: 240px;
}
.newsfrioul  {
    
    background-image: url("../images/activites/4_small/4small-frioul.jpg");
    background-size: 240px;
}
.newscalanque  {
    
    background-image: url("../images/activites/3_medium/3medium-calanque.jpg");
    background-size: 240px;
}
.newsnotredame  {
    
    background-image: url("../images/activites/4_small/4small-notredame.jpg");
    background-size: 240px;
}
.newslongchamp  {
    
    background-image: url("../images/activites/4_small/4small-longchamp.jpg");
    background-size: 240px;
}